[user]
	name = Sai Mohan
	email = sai.mohan@aquanow.io
[personal]
  name = Sai Krishna Mohan
  email = m.saikrishna.msk@gmail.com
[work]
  name = Sai Mohan
  email = sai.mohan@aquanow.io
[core]
  editor = code --wait
  excludesfile = ~/.gitignore
  autocrlf = input
[commit]
  template = ~/.git_commit_template
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[web]
  browser = ff
[credential]
  helper = osxkeychain
[push]
  default = simple
  # new in git 2.37, setup remote branch with tracking automatically
  autoSetupRemote = true
[pull]
	rebase = true
[alias]
  whoami= !git config --global user.name && git config --global user.email
  setpersonal= !git config --global user.name \""$(git config personal.name)"\" && git config --global user.email "$(git config personal.email)" && git whoami
  setwork= !git config --global user.name \""$(git config work.name)"\" && git config --global user.email "$(git config work.email)" && git whoami